html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.active-page{
    color: steelblue
}

.nav-link.active {
    font-weight: bold;
    color: steelblue !important;
}

.btn-primary{
    background-color: steelblue;
    border-color: steelblue;
}

#map {
    height: 70vh;
    /*border-radius: 12px;*/
    border: 1px solid #e2dccc;
}

.card-img-fixed {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

#cards {
    max-height: 70vh; 
    overflow-y: auto; 
    padding-right: 6px;
}



#saunaCarousel .carousel-control-prev-icon,
#saunaCarousel .carousel-control-next-icon {
    filter: invert(1); /* Make arrow buttons visible*/ 
}